extends base
block content
  - let price = data.price
    script.
      const data = !{jsStringify(data)};
  .breadcrumb-section
    .container
      .row
        .col-lg-12
          .breadcrumb__option
            a(href='/')
              span.fa.fa-home
              |  خانه
            a(href='/pricing')
              span 
              | اشتراک‌ها
            span پرداخت
  section.choose-plan-section.spad
    .container
      .row
        .col-lg-6.col-md-6
        .col-lg-6.col-md-6.text-right
          .plan__text
            h3= ` طرح ${data.name}`
            ul
              li
                span.fa.fa-check
                | قابلیت راه اندازی ۱ ربات
              li
                if(data.code === 1)
                  span.fa.fa-check
                  |  ربات میتواند به مدت یک هفته فعالیت کند
                else
                  span.fa.fa-check
                  | ربات میتواند به مدت یک ماه فعالیت کند
              li
                span.fa.fa-check
                |  فالوو و انفالوو اتوماتیک
              li
                span.fa.fa-check
                |  لایک اتوماتیک
              li
                span.fa.fa-check
                |  دایرکت اتوماتیک
              li
                span.fa.fa-check
                |  کامنت اتوماتیک
              li
                span.fa.fa-check
                |  فقط جذب فالوور هدف ایرانی
              li
                span.fa
                = `مبلغ قابل پرداخت: `
                span.fa
                if(data.price2)
                  del=  ` ${price} تومان`
                else
                  span#price=  ` ${price} تومان`
                span#price2= data.price2 ||''
            .register__text
              .register__form
                form(action='#')
                  input(type='text',name='discountCode', placeholder='کد تخفیف')
                  button#discountCheck.site-btn(type='submit') اعمال
            a#pay.primary-btn(href='#') پرداخت
